@using System.Web.Http
@using System.Web.Http.Description
@using Historique.Areas.HelpPage.Models
@model HelpPageApiModel

@{
    ApiDescription description = Model.ApiDescription;
    bool hasParameters = description.ParameterDescriptions.Count > 0;
    bool hasRequestSamples = Model.SampleRequests.Count > 0;
    bool hasResponsesSamples = Model.SampleResponses.Count > 0;
}
<h1>@description.HttpMethod.Method @description.RelativePath</h1>
<div>
    <p>@description.Documentation</p>

    @if(description.Documentation != null)
    {
        <p>@description.Documentation</p>
    }
    else
    {
        <p>No documentation available</p>
    }

    @if(hasParameters || hasRequestSamples)
    {
        <h2>Request Information</h2>
        if(hasParameters)
        {
            <h3>Parameters</h3>
            @Html.DisplayFor(apiModel=> apiModel.ApiDescription.ParameterDescriptions, "Parameters")
        }
        if(hasRequestSamples)
        {
            <h3>Request body formats</h3>
            @Html.DisplayFor(apiModel=> apiModel.SampleRequests, "Samples")
        }
    }

    @if (hasResponsesSamples)
    {
        <h3>Response Information</h3>
        <h3>Response body formats</h3>
        @Html.DisplayFor(m => m.SampleResponses, "Samples")
    }

</div>